@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logo {
  @apply text-3xl;
  @apply font-bold;
  @apply italic;
  @apply text-charcoal;
}

.hero-display {
  @apply text-4xl md:text-5xl lg:text-6xl xl:text-7xl;
  @apply uppercase;
  @apply font-bold;
  @apply italic;
  @apply text-charcoal;
}

body {
  @apply text-charcoal;
  @apply text-base;
}